<div class="row-fluid">
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">% of Population</h5>
                <p class="card-text" id="table-percentage-population"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total of {{report_type | title}} cases</h5>
                <p class="card-text" id="total-country"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Last Updated</h5>
                <p class="card-text" id="last-run-at"></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">CFR</h5>
                <p class="card-text" id="cfr"></p>
            </div>
            <div class="card-footer">
                <small class="text-muted">3.4% Mortality Rate estimate by the World Health Organization (WHO) as of March 3</small>
            </div>
        </div>
    </div>
</div>