 <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/country/confirmed/Brazil">
                <span data-feather="log-in"></span>
                Confirmed <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/country/recovered/Brazil">
                <span data-feather="heart"></span>
                Recovered
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/country/deaths/Brazil">
                <span data-feather="log-out"></span>
                Deaths
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <span data-feather="activity"></span>
                Projections
           </a>
          </li>
        </ul>
    </div>
</nav>

